.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.item {
    background-color: #f2f2f2;
    padding: 20px;
}

#timeline {
    grid-column: 1 / span 3;
    margin: 5vh 5vh;
    background-color: #fff;
    padding: 20px;
}

#artist-names{
    font-size: 6vh;
    margin-left: 5vh;
}

#album-cover{
    width: 100%;
    height: auto;
    margin-left: 5vh;
    margin-top: 10vh;
}

.montserrat-700 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.montserrat-500 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#song-name{
    font-size: 8vh;
    margin-left: 5vh;
    grid-column: 1 / span -1;
}

body {
    overflow: hidden; /* Hide scrollbars */
  }